<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waitou.wisdom_impl">

    <application>
        <activity
            android:name=".ui.PhotoWallActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.PhotoPreviewActivity"
            android:configChanges="orientation|screenSize" />
    </application>
</manifest>
